<ion-content scroll="false" has-bouncing="false">
    
<div ng-app="starter" ng-controller="draggable" class="draggies" ng-drag="true" id="draggable">
    <img src="https://vignette.wikia.nocookie.net/vsbattles/images/4/4c/373-emoji_android_cat_face.png/revision/latest?cb=20161224114802">
</div>

<div ng-app="starter" ng-controller="draggable" class="draggies" ng-drag="true" id="drago">
        <img src="http://clipart.info/images/ccovers/1503688595dog-face-png-clipart.png">
    </div>


   <button class= "ion-button icon-left has-tabs" style="position: fixed">
       Proximamente.. Fotos!
   </button>
</ion-content>
    <script></script>
