<ion-content scroll="false">
  <ul class="list padding">
     <ion-checkbox ng-model="value42" class="item-energized">
       This is value 42, right now it is set to: <b class="capitalize">{{value42}}</b>
       <br>
       Out of Curiosity, this is the homeTab value. {{homeTab}}
     </ion-checkbox>
     <ion-item ng-class="value10">
       <label><h3 class="padding">Change this item's bg-color</h3></label>
       <ion-radio ng-model="value10" class="calm" value="item-calm">Blue</ion-radio>
       <ion-radio ng-model="value10" class="balanced" value="item-balanced">Green</ion-radio>
       <ion-radio ng-model="value10" value="item-stable">Default </ion-radio>
     </ion-item>
    </ul>
  </ion-content>

  <script></script>