<ion-content class="padding" ng-controller="youtCtrl">
       
        <div>
          <form id="videoSearcherBar" class="videoSearcherBar padding">
            <input style="min-height:30px; width: 50%" type="busqueda" name="busqueda" id="videoSearchQuery" ng-model="busquedaDeVideo" placeholder="Escribe tu busqueda de video Youtube"></input>
            <input class="button button-dark button-small " type="submit" id="submitDeYoutube" value="Buscar!"></input> 
            </form>
        </div>
        <div style='position: relative; width: 100%; padding-bottom: 60%;'>
          <ion-item class="item-calm text-center margin" id='advertenciaMovil'>
            Reproductor de youtube de lo que quieras buscar!
          </ion-item>
          <iframe id="ytplayer" type="text/html" scr="" frameborder="0" style="position: absolute; width:90%;height:90%" allowfullscreen>

          </iframe>
        </div>
    
      </ion-content>

<script></script>  