/* Empty. Add your own CSS if you like */
.capitalize {
    text-transform: capitalize;
 }

ion-content, .bGroundeable {
  background: url(../img/sky-2815020_960_720.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

.draggies {
  position: absolute;
  max-width: 50px;
  max-height: 50px;
}
.draggies img {
  width: 100%;
  height: 100%;
}